/* styles.css */
#login_grid {
  background: rgb(26,42,75);
  background: linear-gradient(0deg, rgba(26,42,75,1) 0%, rgba(0,0,0,1) 100%);
}
#entry {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

#login-label {
  color: rgb(33,33,33);
  font-size: 30px;
  /* letter-spacing: 1px; */
}

#login-error-label {
  color: red;
  /* letter-spacing: 1px; */
}
  
#login-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
.button:hover {
  background-color: #0056b3;
}

#dashboard-grid {
  margin: 50px;
  /* background-color: red; */
}

/* #dashboard-label{
  background-color: green;
} */

#todo-column, #progress-column, #pending-column, #done-column{
  background-color: whitesmoke;
  border: 1px dashed #4d4c4c;
  border-radius: 6px;
  padding: 10px;
}

#new-project-button{
  background-color: #007bff;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-button-todo, #add-button-progress, #add-button-pending, #add-button-done{
  border: none;
  background: transparent;
  border-radius: 4px;
  width: 20px;
}

.ticket-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: #f9f9f9;
}

.ticket-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.ticket-description {
  margin-bottom: 10px;
}

.ticket-button {
  margin: 2px;
}

  